@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

.all {
  border-bottom: 2px solid #753386;
}

.circle1 {
  left: 0;
  top: 0;
  width: 1086px;
  height: 836px;
  z-index: 0;
}

.rules .circle1 {
  left: -100px;
  width: 900px;
}

ul li a:hover {
  background-image: linear-gradient(to right, #903aff 10%, #d434fe 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.curved-line {
  stroke-dasharray: 200; /* Adjust this based on the length of your path */
  stroke-dashoffset: 200; /* Same as dasharray to start hidden */
  animation: draw-line 5s ease forwards;
}

div.all-inner {
  padding: 0px 120px;
  position: relative;
}
img.small-star {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 220px;
  left: 150px;
  animation: moveAround 10s linear infinite;
}

img.creative1 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 280px;
  left: 420px;
  animation: wanderAround 10s linear infinite;
}

img.boom {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 280px;
  left: 720px;
  animation: floatAround 10s linear infinite;
}

img.chain {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 380px;
  left: 720px;
  animation: waveMotion 10s linear infinite;
}

img.star3 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 380px;
  left: 1320px;
  animation: moveAround 10s linear infinite;
}

img.star4 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 580px;
  left: 820px;
  animation: floatAround 10s linear infinite;
}

div.image img {
  margin-top: -100px;
  width: 600px;
  height: 500px;
}

.typing-container {
  width: 560px; /* Set a fixed width */
  white-space: nowrap; /* Ensure text stays on one line */
  text-align: right; /* Align text to the right */ /* Text flow from right to left */
  white-space: nowrap; /* Ensure the text remains on one line */
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 50px);
  }
  50% {
    transform: translate(-100px, 100px);
  }
  75% {
    transform: translate(50px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes wanderAround {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(60px, 80px);
  }
  40% {
    transform: translate(-80px, 30px);
  }
  60% {
    transform: translate(100px, -70px);
  }
  80% {
    transform: translate(-50px, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatAround {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(50px, -30px) scale(1.1);
  }
  50% {
    transform: translate(-50px, 30px) scale(0.9);
  }
  75% {
    transform: translate(30px, -20px) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes waveMotion {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, -50px) rotate(15deg);
  }
  50% {
    transform: translate(-50px, 50px) rotate(-15deg);
  }
  75% {
    transform: translate(50px, 50px) rotate(15deg);
  }
  100% {
    transform: translate(0, 0);
  }
}

div.introduction,
div.rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
  padding: 100px 120px;
  position: relative;
  border-bottom: 1px solid #753386;
}

div.criteria {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
  padding: 100px 120px;
  position: relative;
  border-bottom: 1px solid #753386;
}

div.criterias {
  z-index: 1000;
}

div.into {
  width: 1700px;
  z-index: 10000;
}

div.into-img {
  z-index: 1000;
}

div.rules {
  padding-left: 200px;
}

div.rules-image,
div.rules-into {
  z-index: 10000;
}
.star6,
.arrow,
.star5 {
  position: absolute;
  width: 50px;
  height: 50px;
}

.arrow {
  top: 500px;
  left: 600px;
  animation: moveAround 10s linear infinite;
}

.star5 {
  top: 250px;
  left: 100px;
  animation: floatAround 10s linear infinite;
}

.star6 {
  top: 250px;
  left: 1200px;
  z-index: 0;
  animation: wanderAround 10s linear infinite;
}

div.faqs {
  margin-top: 50px;
}

div.faq {
  width: 500px;
  margin-top: 20px;
  border-bottom: 1px solid #d434fe;
}

div.faq img {
  cursor: pointer;
}

p.answer {
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

p.answer.open {
margin-bottom: 20px;
  max-height: 150px; /* Adjust based on content size */
}

div.box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
}

div.faq-image{
  flex-shrink: 0;
}



@media screen and (max-width: 600px) {
  .circle1 {
    width: 800px;
    left: -200px;
  }
  .circle2 {
    display: none;
  }

  .rules .circle1 {
    left: -400px;
    top: -0px;
    width: 900px;
    height: 836px;
    z-index: 0;
  }
}

@media screen and (max-width: 1000px) {
  div.faq {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
  }

  div.faq p {
    font-size: 14px;
  }
  div.box {
    display: block;
    text-align: center;
    z-index: 0;
  }

  div.title-inner {
    margin-top: 100px;
    width: 100%;
  }

  div.all-inner {
    padding: 0px 10px;
    text-align: center;
  }

  div.text {
    margin-top: 0px;
  }

  div.text h1 {
    font-size: 40px;
  }

  div.image {
    text-align: center;
    margin: 0 auto;
  }

  div.image img {
    margin-top: 50px;
    width: 100%;
  }

  .typing-container {
    width: 460px; /* Set a fixed width */
  }

  h1.title {
    font-size: 20px;
    font-weight: 600;
  }

  img.creative1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 330px;
    left: 300px;
    animation: wanderAround 10s linear infinite;
  }

  img.boom {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 280px;
    left: 120px;
    animation: floatAround 10s linear infinite;
  }

  img.chain {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 380px;
    left: 120px;
    animation: waveMotion 10s linear infinite;
  }

  img.star3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 680px;
    left: 420px;
    animation: moveAround 10s linear infinite;
  }

  img.star4 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 580px;
    left: 220px;
    animation: floatAround 10s linear infinite;
  }

  div.introduction,
  div.rules,
  div.criteria {
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #753386;
    padding: 100px 10px;
    gap: 30px;
  }

  div.criterias {
    padding: 25px;
  }
  div.rules {
    flex-direction: column-reverse;
    margin-top: -200px;
  }
  div.rules-image {
    width: 100%;
  }
  div.into {
    width: 100%;
    margin-top: 50px;
    z-index: 1000;
  }

  .arrow {
    left: 200px;
  }

  .star6 {
    left: 200px;
  }
}
